<section class="section-margin mt-0">
    <div style="display: flex; justify-content: space-around;">
        <img src="https://i.imgur.com/5gO7P9B.png" id="i0" />
        <img src="https://i.imgur.com/5gO7P9B.png" id="i1" />
        <img src="https://i.imgur.com/5gO7P9B.png" id="i2" />
        <img src="https://i.imgur.com/5gO7P9B.png" id="i3" />
    </div>    
</section>
@Scripts.Render("~/Scripts/realTimeSellHandler.js")
