
@model FoodStore.Entities.Cart

<div class="nav-item"><button><i class="ti-shopping-cart"></i>
    <span class="nav-shop__circle">@Model.Lines.Sum(x => x.Quantity) item(s)</span></button> </div>
<div class="nav-item">
    @Html.ActionLink("Checkout", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
    @Model.ComputeTotalValue().ToString()
</a></div>