
@model FoodStore.Entities.Cart

<div class="nav-item">
    <a href="/Cart/Index"><i class="ti-shopping-cart"></i>
        <span class="nav-shop__circle" id="cartItems">@Model.CartEntries.Sum(x => x.Quantity) item(s)</span>
    </a>
    <br/>
    <span id="cartTotal">
        @Model.ComputeTotalValue().ToString().Replace(",", ".")  kr.
    </span>
</div>