
@{
    ViewBag.Title = "NotAffiliate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Become an affiliate</h2>

@using (Html.BeginForm("BecomeAffiliate", "Affiliate")) 
{
    <input type="text" name="name" placeholder="pick a name"/>
    <input type="submit" value="BECOME!" />
}

